<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>RTP over QUIC Test Runner</title>
</head>

<body>

<div class="container-fluid">

  <div class="row">
    <h1>RTP over QUIC Test Runner</h1>
    <h2>Measurement Results</h3>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>Video Metrics</h3>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      {{ .SSIMPlotSVG }}
    </div>

    <div class="col-sm-auto">
      {{ .PSNRPlotSVG }}
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>Network Metrics</h3>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h4>Sender Metrics</h3>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      {{ .RTPOutPlotSVG }}
    </div>

    {{ if .RTCPInPlotSVG }}
      <div class="col-sm-auto">
        {{ .RTCPInPlotSVG }}
      </div>
    {{ end }}
  </div>

  {{ if .QLOGSenderPacketsSent }}
    <div class="row justify-content-md-center">
      <div class="col-sm-auto">
        {{ .QLOGSenderPacketsSent }}
      </div>
      <div class="col-sm-auto">
        {{ .QLOGSenderPacketsReceived }}
      </div>
      <div class="col-sm-auto">
        {{ .QLOGCongestionWindow }}
      </div>
    </div>
  {{ end }}

  <div class="row justify-content-md-center">
    {{ if .CC }}
      <div class="col-sm-auto">
        {{ .CC }}
      </div>
    {{ end }}
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h4>Receiver Metrics</h3>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-auto">
      {{ .RTPInPlotSVG }}
    </div>

    <div class="col-sm-auto">
      {{ .RTCPOutPlotSVG }}
    </div>
  </div>

  {{ if .QLOGReceiverPacketsSent }}
    <div class="row justify-content-md-center">
      <div class="col-sm-auto">
        {{ .QLOGReceiverPacketsReceived }}
      </div>
      <div class="col-sm-auto">
        {{ .QLOGReceiverPacketsSent }}
      </div>
    </div>
  {{ end }}

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
